# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?
*.b$?
*.s$?
*.l$?

# Eagle project file
eagle.epf

# Autorouter files
*.pro
*.job

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs
*.dri
*.drl
*.gpi
*.pls
*.ger
*.xln
*.drd
*.drd.*
*.s#*
*.b#*
*.info
*.eps

# file locks introduced since 7.x
*.lck

# Simulation waveforms
*.vcd
*.tb

# Generated Gerber directories and archives
eagle/tfsasi_*_*/
eagle/tfsasi_*_*.zip

# Generated PDF schematics
eagle/tfsasi_*_*.pdf
